@charset "utf-8";
/* CSS Document */4

html {
	background: transparent;
	width: 100%;
	height: 100%;
	font-size: 16px;
  overflow-x: hidden;
	background-color: #dfdfdf;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
  overflow-x: hidden;
}

.navbar_container {
  position: fixed;
  overflow: hidden;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 1;
	background-color: #dfdfdf;
}

.navbar {
	width: 900px;
	height: 50px;
	text-align: right;
	margin: 35px auto;
}

.navbar a {
  display: inline-block;
	padding-left: 82px;
  color: black;
	font-family: 'Martian Mono', monospace;
  text-decoration: none;
  font-size: 150%;
}

.navbar a:hover, .navbar a:active {
  color: black;
}

.logo {
	width: 200px;
	padding-left: 0;
	margin-left: -200px;
	margin-right: 0;
}

#home {
  display: none;
}

.navbar a.icon {
  display: none;
}

.heromain {
	position: relative;
	top: 120px;
 	width: 100%;
	height: calc(100vh - 120px);
	background-image: url("../images/hero.jpg");
	background-size: cover;
	background-position: center;
}

.hero-title {
  position: relative;
	top: calc(100vh - 380px);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

h1 {
	text-align: center;
	color: #dfdfdf;
	padding: 30px 170px;
	line-height: 1.1;
	font-family: 'Signika Negative', sans-serif;
	font-size: 320%;
}

.main {
	padding-top: 150px;
  padding-bottom: 180px;
	background-color: #dfdfdf;
}

.main-box {
	position: relative;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #dfdfdf;
}

h3 {
	width: 900px;
	text-align: center;
	margin: 0 auto;
	color: black;
	padding: 10px;
	line-height: 1.3;
	letter-spacing: 2px;
	font-family: 'Martian Mono', monospace;
	font-size: 150%;
}

.main-text {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

p {
  text-align: justify;
  text-justify: inter-word;
	color: #262626;
	padding-top: 15px;
	padding-bottom: 10px;
	line-height: 1.5;
	font-family: 'Karla', sans-serif;
	font-size: 130%;
}

.game_button {
	width: 900px;
	height: 70px;
	padding: 18px;
	margin: 50px 0;
	display: block;
	border: 3px solid #681ECB;
	border-radius: 4px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: 'Signika Negative', sans-serif;
  text-decoration: none;
	font-size: 200%;
	background-color: #681ECB;
	color: #dfdfdf;
	text-align: center;
}

.game_button:hover, .game_button:active {
	background-color: #dfdfdf;
	color: #681ECB;
}

@media only screen and (max-width: 940px) {

.navbar {
	width: calc(100% - 40px);
}

.navbar a {
	display: none;
}

.navbar #logo {
	display: inline-block;
	padding-left: 0;
  position: absolute;
  left: 222px;
}

.navbar a.icon {
	float: right;
  display: block;
  position: absolute;
  right: 20px;
  top: 58px;
	font-size: 180%;
}

.navbar #close {
  display: none;
}

.navbar.responsive {
	height: 173px;
	text-align: left;
	padding-top: 20px;
	line-height: 1.3;
}

.navbar.responsive #home {
	display: inline-block;
}

.navbar.responsive a {
  display: block;
	padding-left: 0px;
}

.navbar.responsive a.icon {
  display: block;
  top: 54px;
}

.navbar.responsive #logo {
  display: none;
}

.hero-title {
	top: calc(100% - 180px);
  right: 0px;
}

h1 {
	padding: 30px 30px;
	font-size: 220%;
}

h3 {
	width: auto;
	font-size: 130%;
}

.main-text {
 	max-width: calc(100% - 30px);
}

p {
	font-size: 110%;
}

.game_button {
	width: 100%;
	height: 65px;
	font-size: 160%;
}

@media only screen and (max-width: 700px) {

html::-webkit-scrollbar {
	display: none;
}

 html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
