@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'cat_childsregular';
    src: url('fonts/catchilds-webfont.woff2') format('woff2'),
         url('fonts/catchilds-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

html {
	background: transparent;
	width: 100%;
	height: 100%;
	font-size: 16px;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	position: relative;
	width: 100%;
 	overflow-x: hidden;
	min-height: 100vh;            /* fall-back */
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;
	background-color: #dfdfdf;
}

.navbar_container {
	position: fixed;
	overflow: hidden;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 2;
	background-color: #dfdfdf;
	border-bottom: 3px solid black;
}

.navbar {
	width: 900px;
	height: 50px;
	text-align: right;
	margin: 35px auto;
}

.navbar a {
  	display: inline-block;
	padding-left: 62px;
  	color: black;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
  	text-decoration: none;
  	font-size: 150%;
}

.logo {
	width: 200px;
	padding-left: 0;
	margin-left: -200px;
	margin-right: 0;
}

#home {
  display: none;
}

.navbar a.icon {
  display: none;
}

.flag {
	padding: 0px 5px 5px 0px;
	vertical-align: middle;
}

.hero-main {
	position: relative;
	top: 120px;
 	width: 100%;
  	height: calc(100vh - 120px);
	background-position: center;
	background-color: #24C0E1;
}

.hero-image {
	position: absolute;
	bottom: 0px;
	width: auto;
	height: 100%;
	display: block;
	margin-left: 100px;
	margin-right: auto;
	animation: visibilityHero 1s forwards;
	animation-delay: 5500ms;
	opacity: 1.0;
}

@keyframes visibilityHero {
	0% {
		bottom: 0px;
		opacity: 1.0;
	}
	99% {
		bottom: -100vh;
		opacity: 1.0;
	}
	100% {
		bottom: -100vh;
		opacity: 0;
	}
}

.hero-title {
	display: block;
  	position: absolute;
	top: -40%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	z-index: 1;
	animation: visibilityTitle 1s forwards;
	animation-delay: 5500ms;
}

@keyframes visibilityTitle {
	0% {
		top: -40%;
	}
	100% {
		top: 70%;
	}
}

.hero-hide {
	margin-top: 120px;
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #dfdfdf;
	z-index: 1;
}

h1 {
	text-align: right;
	color: black;
	padding: 0 170px;
	line-height: 1.1;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 600;
	letter-spacing: 2;
	font-size: 500%;
}

.zagreb-main {
	margin-top: 120px;
	padding-bottom: 30px;
	min-height: calc(100vh - 200px);
	background-color: #dfdfdf;
}

.zagreb-title-up {
	display: block;
	position: absolute;
	top: 5%;
	left: calc((100% - 900px)/2);
}

.zagreb-title-middle {
	display: block;
	position: absolute;
	top: 28%;
	left: calc((100% - 900px)/2 + 11%);
}

.zagreb-title-down {
	display: block;
	position: absolute;
	top: 55%;
	right: calc((100% - 900px)/2);
}

.zagreb-title-up h3 {
	text-align: left;
	color: #2A564C;
	font-family: "cat_childsregular", serif;
	font-size: 800%;
	letter-spacing: 2;
	text-shadow:
		1px 1px 0 #e1e1d8,
		-1px -1px 0 #e1e1d8,  
		1px -1px 0 #e1e1d8,
		-1px 1px 0 #e1e1d8,
		1px 1px 0 #e1e1d8;
}

.zagreb-title-middle h3 {
	margin: 0 auto;
	text-align: center;
	color: black;
	line-height: 1.1;
	font-family: "cat_childsregular", serif;
	font-weight: 600;
	font-size: 400%;
	letter-spacing: 2;
	text-shadow:
		1px 1px 0 #e1e1d8,
		-1px -1px 0 #e1e1d8,  
		1px -1px 0 #e1e1d8,
		-1px 1px 0 #e1e1d8,
		1px 1px 0 #e1e1d8;
}

.zagreb-title-down h3 {
	margin: 0 auto;
	text-align: center;
	color: #216774;
	line-height: 1.1;
	font-family: "cat_childsregular", serif;
	font-weight: 600;
	font-size: 1000%;
	letter-spacing: 2;
	text-shadow:
		1px 1px 0 #e1e1d8,
		-1px -1px 0 #e1e1d8,  
		1px -1px 0 #e1e1d8,
		-1px 1px 0 #e1e1d8,
		1px 1px 0 #e1e1d8;
}

.zagreb-hero {
	position: relative;
	top: 120px;
 	width: 100%;
  	height: calc(100vh - 120px);
	background-position: center;
	background-color: #aeaea7;
}

.zagreb-image {
	position: absolute;
	bottom: 0px;
	width: 450px;
	height: auto;
	display: block;
}

#budicki-image {
	left: calc(100%/2 - 730px);
}

#feller-image {
	left: calc(100%/2 - 550px);
}

#zagorka-image {
	left: calc(100%/2 - 380px);
}

#penkala-image {
	left: calc(100%/2 - 210px);
}

#melita-image {
	left: calc(100%/2 - 40px);
}

#irma-image {
	left: calc(100%/2 + 140px);
}

#bastl-image {
	left: calc(100%/2 + 320px);
}

.zagreb-bubble-box {
	position: relative;
	width: 900px;
	height: 400px;
	margin: 0 auto;
	background-color: #aeaea7;
	border-radius: 25px;
}

.zagreb-bubble-box-inside {
	position: absolute;
	left: 0px;
	width: 900px;
	height: 400px;
	border-radius: 25px;
}

#bubble-box-green {
	border: 3px solid #2A564C;
}

#bubble-box-blue {
	border: 3px solid #216774;
}

.zagreb-bubble-img {
	position: absolute;
	bottom: -100px;
	width: 500px;
	height: auto;
}

#irma-bubble-img {
	left: -45px;
}

#penkala-bubble-img {
	right: -65px;
}

.zagreb-bubble {
	position: absolute;
	top: 30px;
	width: 570px;
	height: 200px;
	border-radius: 25px;
	background-color: #dfdfdf;
	padding: 20px;
	text-align: center;
	font-size: 300%;
	font-weight: 700;
	font-family: "Libre Franklin", sans-serif;
	text-decoration: none;
}

#bubble-green {
	border: 3px solid #2A564C;
	right: 30px;
	color: #2A564C;
	padding: 45px;
}

#bubble-blue {
	border: 3px solid #216774;
	left: 30px;
	color: #216774;
	padding: 45px;
}

.zagreb-bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#bubble-green:before {
	border-left: 15px solid transparent;
	border-right: 15px solid #2A564C;
	left: -31px;
	top: 110px;
}

#bubble-blue:before {
	border-left: 15px solid #216774;
	border-right: 15px solid transparent;
	right: -31px;
	top: 80px;
}
  
.zagreb-bubble:after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#bubble-green:after {
	border-left: 15px solid transparent;
	border-right: 15px solid #dfdfdf;
	left: -27px;
	top: 110px;
}

#bubble-blue:after {
	border-left: 15px solid #dfdfdf;
	border-right: 15px solid transparent;
	right: -27px;
	top: 80px;
}

#bubble-green:hover, #bubble-green:active {
	background-color: #2A564C;
	color: #dfdfdf;
}

#bubble-green:hover:after, #bubble-green:active:after {
	border-right: 15px solid #2A564C;
}

#bubble-blue:hover, #bubble-blue:active {
	background-color: #216774;
	color: #dfdfdf;
}

#bubble-blue:hover:after, #bubble-blue:active:after {
	border-left: 15px solid #216774;
}

.zagreb-bubble-hide {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #dfdfdf;
	z-index: 1;
}

.zagreb-hide {
	position: relative;
	width: 100%;
	height: 30px;
	margin: 120px 0 0 0;
	background-color: #dfdfdf;
	border-top: solid 3px black;
	z-index: 1;
}

.zagreb-about {
	position: relative;
	margin: 0 0 30px 0;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #BB4F61;
	border-top: solid 3px black;
	border-bottom: solid 3px black;	
}

.zagreb-instructions {
	position: relative;
	width: 100%;
	height: 430px;
}

.zagreb-instructions-img-left {
	position: absolute;
	top: 15px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	width: calc((100% - 900px)/2 + 500px);
	height: 400px;
	object-fit: cover;
}

.zagreb-instructions-img-right {
	position: absolute;
	top: 15px;
	right: 0;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	width: calc((100% - 900px)/2 + 500px);
	height: 400px;
	object-fit: cover;
}

.main {
	padding-bottom: 30px;
	min-height: calc(100vh - 200px);
	background-color: #dfdfdf;
}

.main-intro {
	position: relative;
 	width: 100%;
	height: 1000px;
	background-image: url("../images/spiral.png");
	background-color: #dfdfdf;
	background-size: cover;
	background-position: center;
}

.circle {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 900px;
	height: 900px;
	background-color: #262626;
	border-radius: 450px;
}

h4 {
	position: absolute;
	left: 50%;
	top: 300px;
	transform: translate(-50%,0);
	width: 700px;
	color: #dfdfdf;
	text-align: center;
	padding: 30px;
	line-height: 1.3;
	letter-spacing: 1px;
	font-family: "Libre Franklin", sans-serif;
	font-size: 220%;
	font-weight: 600;
	z-index: 1;
}

.intro-game-button {
	position: absolute;
	left: 50%;
	top: 700px;
	transform: translate(-50%,0);
	width: 100%;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: "Libre Franklin", sans-serif;
  	text-decoration: none;
	font-size: 240%;
	font-weight: 700;
	color: #dfdfdf;
	text-align: center;
	padding: 15px 0 18px 0;
	border-top: 3px solid #dfdfdf;
	border-bottom: 3px solid #dfdfdf;
	z-index: 1;
}

.intro-game-button:hover, .intro-game-button:active {
	background-color: #dfdfdf;
	color: #262626;
}

.main-gamespage {
	padding-top: 100px;
  	padding-bottom: 30px;
	min-height: calc(100vh - 200px);
	background-color: #dfdfdf;
}

.main-aboutpage {
	margin-top: 120px;
  	padding-bottom: 30px;
	min-height: calc(100vh - 200px);
	background-color: #dfdfdf;
}

.main-contactpage {
	padding-top: 120px;
  	padding-bottom: 30px;
	min-height: calc(100vh - 200px);
	background-color: #dfdfdf;
}

.main-box {
	position: relative;
	margin: 0 auto -20px auto;
	width: 100%;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #262626;
}

.gameimg-title {
	position: absolute;
	padding-top: 10px;
	bottom: 30px;
	width: 100%;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #262626;
}

.main-box h2 {
	padding-top: 10px;
}

.gameimg {
	display: block;
	position: relative;
	margin: 50px auto 0 auto;
	width: 100%;
	height: 500px;
}

.gameimg-color-left {
	position: absolute;
	left: 0;
	width: calc((100% - 900px)/2 - 20px);
	height: 500px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.gameimg-color-right {
	position: absolute;
	right: 0;
	width: calc((100% - 900px)/2 - 20px);
	height: 500px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.gameimg-img {
	position: absolute;
	left: calc((100% - 900px)/2);
	width: 900px;
	height: 500px;
	border-radius: 25px;
	border: 3px solid black;
	object-fit: cover;
}

h1.gamespage-title {
	text-align: center;
	color: black;
	line-height: 1.1;
	padding: 0 0;
	width: 100%;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
	letter-spacing: 2;
	font-size: 220%;
	margin: 0 auto;
}

.divider {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	width: 100%;
	height: 30px;
	margin-top: 50px;
	background-color: #262626;
}

.main-text {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#faq-page {
	margin-top: 55px;
}

.main-feature-text {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.gamelist-color-left {
	position: absolute;
	left: 0;
	width: calc((100% - 900px)/2 - 20px);
	height: 350px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.gamelist-color-right {
	position: absolute;
	right: 0;
	width: calc((100% - 900px)/2 - 20px);
	height: 350px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.gamelist-single {
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: 350px;
}

.gamelist-double {
	position: relative;
	margin-top: 20px;
	width: 100%;
	height: 350px;
}

.gamelist-img-single {
	position: absolute;
	left: calc((100% - 900px)/2);
	width: 900px;
	height: 350px;
	border-radius: 25px;
	border: 3px solid black;
	object-fit: cover;
}

.gamelist-img-double-left {
	position: absolute;
	left: calc((100% - 900px)/2);
	width: 440px;
	height: 350px;
	border-radius: 25px;
	border: 3px solid black;
	object-fit: cover;
}

.gamelist-img-double-right {
	position: absolute;
	right: calc((100% - 900px)/2);
	width: 440px;
	height: 350px;
	border-radius: 25px;
	border: 3px solid black;
	object-fit: cover;
}

.feature-games-1 {
	margin-top: 20px;
	background-color: #72969d;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.feature-games-2 {
	margin-top: -10px;
	background-color: #729d97;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.feature-table-comp  {
	display: block;
	position: relative;
	margin: 10px auto 10px auto;
	width: 900px;
	text-align: center;
}

.feature-table-comp td {
	vertical-align: middle;
}

.feature-table-text-cell-comp {
	border-radius: 25px;
	background-color: #dfdfdf;
	width: 195px;
}

.feature-table-empty-cell-comp {
	width: 40px;
	background-color: none;
}

.feature-table-mobile  {
	display: none;
}

#cube {
	width: 120px;
}

.feature-box {
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	border-bottom: 3px solid black;
	background-color: #262626;
}

h2 {
	color: #dfdfdf;
	line-height: 1.3;
	letter-spacing: 3px;
	font-family: "Libre Franklin", sans-serif;
	font-size: 400%;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 0 auto;
}

h1.zagreb-about-text {
	color: #BB4F61;
	line-height: 1.5;
	font-family: "Libre Franklin", sans-serif;
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: none;
	font-size: 130%;
	border: solid 3px #BB4F61;
	border-radius: 25px;
	padding: 15px 10px;
	background-color: #dfdfdf;
}

.zagreb-about-text-title {
	font-size: 200%;
	font-weight: 700;
}

.zagreb-section-title {
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	background-color: #262626;
}

#section-title-small {
	padding: 12px 0 16px 0;
	font-size: 320%;
}

#section-title-small-2 {
	padding: 12px 0 16px 0;
	font-size: 300%;
}

.zagreb-section {
	position: relative;
	margin: 15px auto;
	width: 100%;
	background-color: #dfdfdf;
}

.zagreb-getgame {
	margin: 20px 0 35px 0;
	padding: 27px 0;
	width: 100%;
	height: 130px;
	background-color: #BB4F61;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.zagreb-button {
	display: block;
	margin: 0 auto;
	width: 900px;
	height: 70px;
	border: 3px solid #BB4F61;
	padding: 0 0 0 10px;
	border-radius: 25px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: "Libre Franklin", sans-serif;
  	text-decoration: none;
	font-size: 250%;
	font-weight: 700;
	background-color: #dfdfdf;
	color: #BB4F61;
	text-align: center;	
}

a.zagreb-button {
	padding: 12px 10px 10px 10px;
}


.zagreb-button:hover, .szagreb-button:active {
	color: #dfdfdf;
	background-color: #262626;
}

h5 {
	color: #dfdfdf;
	font-family: "Libre Franklin", sans-serif;
 	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
	margin: 0 auto 30px auto;
	text-shadow: #284044 1px 0 10px;
	text-align: center;
	font-size: 180%;
	font-weight: 600;
}

.feature-text-h51 {
	margin: 0 auto 10px auto;
}

h6 {
	color: #262626;
	margin: 0 22px;
	padding: 10px 5px 15px 5px;
	font-family: "Libre Franklin", sans-serif;
	font-size: 160%;
	font-weight: 600;
}

.email-container {
	margin: 20px auto;
	text-align: center;
}

.email {
	display: inline-block;
	color: #197e92;
	font-family: "Libre Franklin", sans-serif;
	letter-spacing: 1px;
	line-height: 1.2;
	font-size: 200%;
	font-weight: 600;
}

.social-container {
	margin: 20px auto;
	text-align: center;
}

.social-big-icon {
	padding: 20px 10px;
	font-size: 700%;
	color: #262626;
}

.social-big-icon:hover, .social-big-icon:active {
	color: #197e92;
}

.feature-photo-box {
	display: block;
	position: relative;
 	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

p {
  	text-align: justify;
 	text-justify: inter-word;
	color: #262626;
	padding-top: 15px;
	padding-bottom: 25px;
	line-height: 1.5;
	font-family: 'Karla', sans-serif;
	font-weight: 500;
	font-size: 130%;
}

.zagreb-instructions-text-box-right {
	position: absolute;
	top: 15px;
	width: 380px;
	height: 400px;
	right: calc((100% - 900px)/2);
	border: solid 3px #2A564C;
	border-radius: 25px;
}

.zagreb-instructions-text-box-left {
	position: absolute;
	top: 15px;
	width: 380px;
	height: 400px;
	left: calc((100% - 900px)/2);
	border: solid 3px #216774;
	border-radius: 25px;
}

.zagreb-instructions-text {
	padding: 20px;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #262626;
	line-height: 1.5;
	font-family: "Libre Franklin", sans-serif;
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 130%;
}

.zagreb-instructions-text-title-right {
	line-height: 1.1;
	font-weight: 700;
	font-size: 200%;
	color: #2A564C;
}

.zagreb-instructions-text-title-left {
	line-height: 1.1;
	font-weight: 700;
	font-size: 200%;
	color: #216774;
}

.zagreb-instructions-empty-right {
	position: absolute;
	top: 15px;
	width: calc((100% - 900px)/2 - 20px);
	height: 400px;
	right: 0;
	background-color: #2A564C;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.zagreb-instructions-empty-left {
	position: absolute;
	top: 15px;
	width: calc((100% - 900px)/2 - 20px);
	height: 400px;
	left: 0;
	background-color: #216774;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.feature-text-p1 {
	padding-top: 20px;
	padding-bottom: 30px;
}

.feature-text-p2 {
	padding-bottom: 0;
}

.game-button {
	width: 900px;
	height: 70px;
	padding: 18px;
	margin: 30px 0;
	display: block;
	border: 3px solid #262626;
	border-radius: 25px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: "Libre Franklin", sans-serif;
  	text-decoration: none;
	font-size: 200%;
	font-weight: 700;
	background-color: #dfdfdf;
	color: #262626;
	text-align: center;
}

.game-button:hover, .game-button:active {
	background-color: #262626;
	color: #dfdfdf;
}

.gamelist-button-single {
	position: absolute;
	left: calc((100% - 900px)/2);
	bottom: 30px;
	width: 900px;
	height: 70px;
	padding: 15px 18px 18px 18px;
	display: block;
	border-top: 3px solid #262626;
	border-bottom: 3px solid #262626;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
  	text-decoration: none;
	text-transform: uppercase;
	font-size: 200%;
	background-color: #dfdfdf;
	color: #262626;
	text-align: center;
}

.gamelist-button-double-left {
	position: absolute;
	left: calc((100% - 900px)/2);
	bottom: 30px;
	width: 440px;
	height: 70px;
	padding: 22px 18px 18px 18px;
	display: block;
	border-top: 3px solid #262626;
	border-bottom: 3px solid #262626;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
  	text-decoration: none;
	text-transform: uppercase;
	font-size: 150%;
	background-color: #dfdfdf;
	color: #262626;
	text-align: center;
}

.gamelist-button-double-right {
	position: absolute;
	right: calc((100% - 900px)/2);
	bottom: 30px;
	width: 440px;
	height: 70px;
	padding: 22px 18px 18px 18px;
	display: block;
	border-top: 3px solid #262626;
	border-bottom: 3px solid #262626;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 700;
  	text-decoration: none;
	text-transform: uppercase;
	font-size: 150%;
	background-color: #dfdfdf;
	color: #262626;
	text-align: center;
}

.gamelist-button-single:hover, .gamelist-button-single:active {
	background-color: #262626;
	color: #dfdfdf;
}

.gamelist-button-double-left:hover, .gamelist-button-double-left:active {
	background-color: #262626;
	color: #dfdfdf;
}

.gamelist-button-double-right:hover, .gamelist-button-double-right:active {
	background-color: #262626;
	color: #dfdfdf;
}

.game-table-comp  {
	margin-top: -20px;
	width: 100%;
	display: block;
}

.game-table-comp tr  {
	width: 100%;
}

.game-table-comp td  {
  	text-align: justify;
  	text-justify: inter-word;
	color: #262626;
	line-height: 1.2;
	font-family: 'Karla', sans-serif;
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.game-table-comp td.game-table-title-comp  {
	width: 12%;
  	text-align: right;
	color: #262626;
	line-height: 1.2;
	font-family: "Libre Franklin", sans-serif;
	font-size: 110%;
	font-weight: 600;
}

.game-table-comp td.game-table-icon-comp  {
	width: 8%;
	text-align: center;
	color: #262626;
	font-size: 200%;
}

.game-table-mobile  {
	margin-top: -20px;
	width: 100%;
	display: none;
}

.game-table-mobile tr  {
	width: 100%;
}

.game-table-mobile td  {
 	text-align: justify;
 	text-justify: inter-word;
	color: #262626;
	line-height: 1.2;
	font-family: 'Karla', sans-serif;
	font-size: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.game-table-mobile td.game-table-title-mobile  {
	width: calc(100% - 45px);
  	text-align: right;
	color: #262626;
	line-height: 1.2;
	font-family: "Libre Franklin", sans-serif;
	font-size: 110%;
	font-weight: 600;
}

.game-table-mobile td.game-table-icon-mobile  {
	width: 45px;
  	text-align: right;
	color: #262626;
	font-size: 200%;
}

.faq-button {
	width: 900px;
	height: 50px;
	padding: 5px;
	margin: 10px 0;
	display: block;
	border: 3px solid #262626;
	border-radius: 25px;
	font-family: "Libre Franklin", sans-serif;
  	text-decoration: none;
	font-size: 140%;
	font-weight: 700;
  	background-color: #dfdfdf;
	color: #262626;
	text-align: left;
}

.faq-button:hover, .faq-button:active {
  	background-color: #262626;
	color: #dfdfdf;
}

.faq {
	display: none;
}

.faq-link {
	color: #197e92;
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
	cursor: pointer;
}

.faq-email {
	color: #197e92;
}

.faq-link:hover, .faq-link:active {
	text-decoration-line: line-through;
}

.footer {
	position: relative;
	background-color: #dfdfdf;
	width: 100%;
	height: 320px;
	padding: 20px 0;
	z-index: 1;
}

.footer-table {
	color: #262626;
	width: calc(100% - 40px);
	height: auto;
	margin: 0 auto;
	text-align: center;
}

#first-footer-text {
	margin: -5px 0 -15px 0;
}

.footer-logo {
	width: 130px;
	padding-bottom: 7px;
}

.footer-text {
	margin: -15px 0;
	font-size: 100%;
	text-align: center;
	line-height: 1;
}

.footer-text em {
	color: #197e92;
}

.social {
	padding: 20px 5px;
	font-size: 240%;
	color: #262626;
}

.social:hover, .social:active {
	color: #197e92;
}

@media only screen and (max-width: 1600px) {


h1 {
	font-size: 270%;
}

.main-intro {
	height: 700px;
}

.circle {
	width: 600px;
	height: 600px;
	border-radius: 300px;
}

h4 {
	top: 200px;
	width: 450px;
	padding: 20px;
	font-size: 165%;
}

.intro-game-button {
	top: 500px;

}

}

@media only screen and (max-width: 1260px) {

.hero-title {
	margin-right: 20px;
}

h1 {
	padding: 0 40px;
}

.zagreb-image {
	width: 380px;
}

.zagreb-title-up {
	top: 10%;
	left: calc((100% - 900px)/2);
}

.zagreb-title-middle {
	top: 34%;
	left: calc((100% - 900px)/2 + 10%);
}

.zagreb-title-down {
	top: 60%;
	right: calc((100% - 900px)/2);
}

#budicki-image {
	left: calc(100%/2 - 590px);
}

#feller-image {
	left: calc(100%/2 - 450px);
}

#zagorka-image {
	left: calc(100%/2 - 330px);
}

#penkala-image {
	left: calc(100%/2 - 200px);
}

#melita-image {
	left: calc(100%/2 - 60px);
}

#irma-image {
	left: calc(100%/2 + 70px);
}

#bastl-image {
	left: calc(100%/2 + 210px);
}

}

@media only screen and (max-width: 1140px) {

.hero-image {
	width: calc(100% - 200px);
	height: auto;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 300%;
}

}

@media only screen and (max-width: 940px) {

.navbar {
	width: calc(100% - 40px);
}

.navbar a {
	display: none;
}

.navbar #logo {
	display: inline-block;
	padding-left: 0;
	position: absolute;
	left: 222px;
}

.navbar a.icon {
	float: right;
	display: block;
	position: absolute;
	right: 20px;
	top: 58px;
	font-size: 180%;
}

.navbar #close {
  display: none;
}

.navbar.responsive {
	height: 200px;
	text-align: left;
	padding: 20px 0;
	line-height: 1.3;
}

.navbar.responsive #home {
	display: inline-block;
}

.navbar.responsive a {
  display: block;
	padding-left: 0px;
}

.navbar.responsive a.icon {
  display: block;
  top: 54px;
}

.navbar.responsive #logo {
  display: none;
}

.hero-image {
	width: calc(100% - 30px);
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
}

h1 {
	padding: 0 20px;
	font-size: 230%;
}

h2 {
	width: auto;
	font-size: 300%;
}

h1.zagreb-about-text {
	width: calc(100% - 40px);
	font-size: 110%;
}

.zagreb-about-text-title {
	font-size: 150%;
}

.main-text {
 	max-width: calc(100% - 30px);
}

.main-gamelist-comp-single {
	display: none;
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.main-gamelist-mobile-single {
	display: block;
	margin: 20px auto 0 auto;
	width: calc(100% - 30px);
	height: auto;
}

.main-gamelist-comp {
	display: none;
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.main-gamelist-mobile {
	display: block;
	width: calc(100% - 30px);
	margin: 20px auto 0 auto;
}

.gameimg {
	height: calc(100vh - 180px);
}

.gameimg-color-left {
	width: 0;
}

.gameimg-color-right {
	width: 0;
}

.gameimg-img {
	left: 20px;
	width: calc(100% - 40px);
	height: calc(100vh - 180px);
}

.gamelist-img-single {
	left: 20px;
	width: calc(100% - 40px);
}

.gamelist-img-double-left {
	left: 20px;
	width: calc(100% - 40px);
}

.gamelist-img-double-right {
	left: 20px;
	top: 370px;
	width: calc(100% - 40px);
}

.zagreb-button {
	width: calc(100% - 40px);
}

.feature-text-p1 {
	padding-top: 15px;
	padding-bottom: 20px;
}

p {
	font-size: 110%;
}

.game-button {
	width: 100%;
	height: 65px;
	font-size: 160%;
}

.gamelist-color-left {
	width: 0;
}

.gamelist-color-right {
	width: 0;
}

.gamelist-double {
	height: 720px;
}

.gamelist-button-single {
	width: calc(100% - 40px);
	left: 20px;
	height: 65px;
	padding: 18px;
	font-size: 180%;
}

.gamelist-button-double-left {
	width: calc(100% - 40px);
	left: 20px;
	bottom: 400px;
	height: 65px;
	padding: 18px;
	font-size: 180%;
}

.gamelist-button-double-right {
	width: calc(100% - 40px);
	left: 20px;
	height: 65px;
	padding: 18px;
	font-size: 180%;
}
.zagreb-section {
	margin: 10px auto;
}

.zagreb-instructions {
	height: 590px;
}

.zagreb-instructions-img-left {
	top: 10px;
	left: 20px;
	border-radius: 25px;
	width: calc(100% - 40px);
	height: 350px;
}

.zagreb-instructions-img-right {
	top: 10px;
	right: 20px;
	border-radius: 25px;
	width: calc(100% - 40px);
	height: 350px;
}

.zagreb-instructions-empty-right {
	top: 10px;
	width: 0;
}

.zagreb-instructions-empty-left {
	top: 10px;
	width: 0;
}

.zagreb-bubble-box {
	width: calc(100% - 40px);
}

.zagreb-bubble-box-inside {
	width: 100%;
}

#irma-bubble-img {
	left: -75px;
}

#penkala-bubble-img {
	right: -95px;
}

.zagreb-bubble {
	width: calc(100% - 300px);
	font-size: 200%;
}

#bubble-green {
	padding: 65px;
}

#bubble-blue {
	padding: 65px 30px;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 230%;
}

#section-title-small-2 {
	padding: 6px 0 12px 0;
	font-size: 220%;
}

.feature-table-comp  {
	width: 100%;
}

.feature-table-text-cell-comp {
	width: calc(25% - 16.25px)
}

.feature-table-empty-cell-comp {
	width: 25px;
}

.zagreb-instructions-text-box-right {
	width: calc(100% - 40px);
	height: 200px;
	top: 380px;
	right: 20px;
}

.zagreb-instructions-text-box-left {
	width: calc(100% - 40px);
	height: 200px;
	top: 380px;
	left: 20px;
}

.zagreb-instructions-text {
	font-size: 110%;
}

.zagreb-instructions-text-title-right {
	font-size: 150%;
}

.zagreb-instructions-text-title-left {
	font-size: 150%;
}

#cube {
	width: 80px;
}

.feature-text-h51 {
	margin: 30px auto 10px auto;
}

h5 {
	margin: 30px auto 30px auto;
	font-size: 150%;
}

h6 {
	font-size: 130%;
 	border-radius: 25px;
}

.faq-button {
 	width: 100%;
	min-height: 50px;
	height: auto;
	padding: 5px 5px 8px 5px;
}

.zagreb-image {
	width: 420px;
}

.zagreb-title-up {
	top: 5%;
	left: 30px;
}

.zagreb-title-middle {
	top: 27%;
	left: 90px;
}

.zagreb-title-down {
	top: 67%;
	right: 30px;
}

.zagreb-title-up h3 {
	font-size: 750%;

}

.zagreb-title-middle h3 {
	font-size: 400%;
}

.zagreb-title-down h3 {
	font-size: 900%;
}

#budicki-image {
	left: calc(100%/2 - 440px);
	bottom: -80px;
}

#feller-image {
	left: calc(100%/2 - 370px);
}

#zagorka-image {
	left: calc(100%/2 - 300px);
	bottom: -80px;
}

#penkala-image {
	left: calc(100%/2 - 220px);
}

#melita-image {
	left: calc(100%/2 - 30px);
}

#irma-image {
	left: calc(100%/2 - 120px);
	bottom: -80px;
}

#bastl-image {
	left: calc(100%/2 + 40px);
	bottom: -95px;
}
}

@media only screen and (max-width: 710px) {

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

h1.gamespage-title {
	font-size: 180%;
}

h2 {
	font-size: 240%;
}

h4 {
	top: 200px;
	width: 400px;
	font-size: 115%;
}

.main-intro {
	height: 600px;
}

.circle {
	width: 440px;
	height: 440px;
	border-radius: 220px;
}

.intro-game-button {
	top: 400px;
	font-size: 180%;
	padding: 15px 0;
}

.feature-text-h51 {
	margin: 20px auto 0 auto;
}

h5 {
	margin: 20px auto 20px auto;
	font-size: 150%;
}

.game-table-comp td  {
	font-size: 100%;
}

.game-table-comp td.game-table-title-comp  {
	width: auto;
	font-size: 100%;
}

.game-table-comp td.game-table-icon-comp  {
	width: 50px;
	font-size: 180%;
}

.feature-text-p1 {
	padding-top: 15px;
	padding-bottom: 15px;
}

#bubble-green {
	padding: 60px 15px;
}

#bubble-blue {
	padding: 60px 15px;
	font-size: 180%;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 190%;
}

#section-title-small-2 {
	padding: 6px 0 12px 0;
	font-size: 180%;
}

}

@media only screen and (max-width: 600px) {

h1 {
	font-size: 180%;
}

h2 {
	font-size: 200%;
}

.hero-main {
  height: calc(100vh - 120px);
	min-height: 400px;
}

.game-button {
	padding: 20px 15px;
	font-size: 130%;
}

.gamelist-button-single {
	font-size: 140%;
}

.gamelist-button-double-left {
	font-size: 140%;
}

.gamelist-button-double-right {
	font-size: 140%;
}

.feature-table-comp  {
	display: none;
}

.feature-table-mobile  {
	display: block;
	position: relative;
	margin: 10px auto 0 auto;
	width: 100%;
	text-align: center;
}

.feature-table-mobile td {
	vertical-align: middle;
	height: 20px;
}

.feature-table-mobile tr {
	width: 100%;
}

.feature-table-text-cell-mobile {
	border-radius: 25px;
	background-color: #dfdfdf;
	width: calc(50% - 10px);
}

.feature-table-empty-cell-mobile {
	width: 20px;
	background-color: none;
}

.feature-table-bigempty-cell-mobile {
	width: calc(50% - 10px);
	background-color: none;
}

h6 {
	margin: 0 20px;
	font-size: 140%;
}

.faq-button {
	font-size: 110%;
}

.game-table-comp  {
	display: none;
}

.game-table-mobile  {
	display: block;
}

.zagreb-bubble-box {
	height: 290px;
}

.zagreb-bubble-box-inside {
	height: 290px;
}

.zagreb-bubble-img {
	position: absolute;
	bottom: -100px;
	width: 400px;
	height: auto;
}

#irma-bubble-img {
	left: -65px;
}

#penkala-bubble-img {
	right: -85px;
}

.zagreb-bubble {
	width: calc(100% - 250px);
}

#bubble-green {
	padding: 70px 15px;
	font-size: 160%;
}

#bubble-blue {
	padding: 65px 15px;
	font-size: 140%;
}

#bubble-green:before {
	top: 70px;
}

#bubble-blue:before {
	top: 40px;
}

#bubble-green:after {
	top: 70px;
}

#bubble-blue:after {
	top: 40px;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 150%;
}

#section-title-small-2 {
	padding: 6px 0 12px 0;
	font-size: 140%;
}

}

@media only screen and (max-width: 500px) {

h2 {
	font-size: 180%;
}

.gamelist-button-single {
	padding-top: 20px;
	font-size: 130%;
}

.gamelist-button-double-left {
	padding-top: 20px;
	font-size: 130%;
}

.gamelist-button-double-right {
	padding-top: 20px;
	font-size: 130%;
}

.zagreb-image {
	width: 420px;
}

.zagreb-title-up {
	top: 3%;
	left: 30px;
}

.zagreb-title-middle {
	top: 18%;
	left: 30px;
}

.zagreb-title-down {
	top: 16%;
	right: 30px;
}

.zagreb-title-up h3 {
	font-size: 500%;

}

.zagreb-title-middle h3 {
	font-size: 230%;
}

.zagreb-title-down h3 {
	font-size: 650%;
}

#budicki-image {
	left: calc(100%/2 - 340px);
	bottom: -80px;
}

#feller-image {
	left: calc(100%/2 - 280px);
}

#zagorka-image {
	left: calc(100%/2 - 205px);
	bottom: -70px;
}

#penkala-image {
	left: calc(100%/2 - 150px);
}

#melita-image {
	left: calc(100%/2 - 80px);
	bottom: -70px;
}

#irma-image {
	left: calc(100%/2 - 290px);
	bottom: -170px;
}

#bastl-image {
	left: calc(100%/2 - 130px);
	bottom: -190px;
}

#bubble-green {
	padding: 60px 15px;
	font-size: 150%;
}

#bubble-blue {
	padding: 55px 15px;
	font-size: 130%;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 120%;
}

#section-title-small-2 {
	padding: 6px 0 12px 0;
	font-size: 120%;
}

}

@media only screen and (max-width: 400px) {

h1 {
	padding: 20px 20px;
	font-size: 170%;
}

h2 {
	font-size: 150%;
}

.game-button {
	padding: 23px 4px;
	font-size: 105%;
}

.zagreb-title-up h3 {
	font-size: 450%;

}

.zagreb-title-middle h3 {
	font-size: 190%;
}

.zagreb-title-down h3 {
	font-size: 600%;
}

.gamelist-button-single {
	font-size: 110%;
}

.gamelist-button-double-left {
	font-size: 110%;
}

.gamelist-button-double-right {
	font-size: 110%;
}

.zagreb-button {
	font-size: 200%;
}

.main-intro {
	height: 500px;
}

h4 {
	top: 75px;
	width: 280px;
	font-size: 105%;
}

.circle {
	width: 380px;
	height: 380px;
	border-radius: 190px;
}

.intro-game-button {
	top: 360px;
	font-size: 130%;
}

h6 {
	margin: 0 10px;
	height: 65px;
	padding: 11px 8px;
	font-size: 120%;
}

.email {
	font-size: 160%;
}

.social-big-icon {
	padding: 20px 6px;
	font-size: 500%;
	color: #262626;
}

#bubble-green {
	padding: 50px 15px;
	font-size: 140%;
}

#bubble-blue {
	padding: 45px 15px;
	font-size: 120%;
}

#section-title-small {
	padding: 6px 0 12px 0;
	font-size: 100%;
}

#section-title-small-2 {
	padding: 6px 0 12px 0;
	font-size: 100%;
}

}
