@charset "utf-8";
/* CSS Document */

html {
	background: transparent;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
  background-color: black;
}

.main {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.main-message {
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.message {
	position: relative;
	width: 70%;
	height: auto;
  background-color: #dfdfdf;
	border: 3px solid black;
	border-radius: 20px;
	border-collapse: separate;
}

.message_title {
	width: 90%;
	font-family: 'Martian Mono', monospace;
	color: #262626;
  font-size: 150%;
	line-height: 1.2;
	text-align: left;
	vertical-align: center;
	height: auto;
	padding: 20px;
}

.message_close {
	width: 10%;
	text-align: right;
	height: auto;
	padding: 20px;
}

.close_button_message {
	position: absolute;
	top: 5px;
	right: 20px;
	font-family: 'Martian Mono', monospace;
  background: transparent;
	border: none;
	color: #262626;
  font-size: 330%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close_button_message:focus {
  outline: none !important;
}

.back_button {
	position: absolute;
	top: 0;
	right: 30px;
	font-family: 'Martian Mono', monospace;
  background: transparent;
	border: none;
	color: black;
  font-size: 450%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back_button:focus {
  outline: none !important;
}

.crime-scene {
	position: absolute;
	width: 1120px;
	height: auto;
}

.crime-scene_img {
	position: relative;
	display: block;
	max-width: 1120px;
	height: auto;
}

.crime-scene_button {
	position: absolute;
  background: transparent;
	border: none;
  font-size: 0;
	z-index: 5;
	cursor: default;
}

.evidence_img {
	max-width: 40%;
	max-height: 40%;
}

.evidence_img_big {
	max-width: 70%;
	max-height: 40%;
}

.evidence_img_medium {
	max-width: 40%;
	max-height: 40%;
}

.reveal {
	display: block;
	position: relative;
	width: 40%;
	height: auto;
  background-color: #dfdfdf;
	border: 3px solid black;
	border-radius: 20px;
	border-collapse: separate;
}

.reveal_landscape {
	display: none;
	position: relative;
	width: 80%;
	height: auto;
  background-color: #dfdfdf;
	border: 3px solid black;
	border-radius: 20px;
	border-collapse: separate;
	margin: 50px auto;
}

.evidence_img_cell {
	width: 100%;
	vertical-align: center;
	text-align: center;
	height: auto;
	padding: 20px;
}

.evidence_title {
	width: 60%;
	font-family: 'Bebas Neue', cursive;
	color: black;
  font-size: 300%;
	text-align: left;
	vertical-align: center;
	height: auto;
	padding: 30px 20px 20px 20px;
}

.evidence_background {
	background-color: #FFF100;
	padding: 5px 25px;
	width: 238px;
  transform: rotate(-6deg);
}

.evidence_description {
	width: 100%;
	font-family: 'Karla', sans-serif;
	color: #262626;
  font-size: 120%;
	vertical-align: top;
	text-align: justify;
	line-height: 1.2;
	height: auto;
	padding: 20px;
}

.evidence_description_italic {
	font-style: italic;
}

.evidence_close {
	width: 40%;
	text-align: right;
	height: auto;
	padding: 20px;
}

.close_button {
	position: absolute;
	top: -12px;
	right: 20px;
	font-family: 'Martian Mono', monospace;
  background: transparent;
	border: none;
	color: #262626;
  font-size: 600%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close_button:focus {
    outline: none !important;
}

#testosterone {
	top: 610px;
	left: 307px;
	width: 30px;
	height: 30px;
}

#wig {
	top: 360px;
	left: 805px;
	width: 67px;
	height: 110px;
}

#phone {
	top: 610px;
	left: 490px;
	width: 80px;
	height: 60px;
}

#cable {
	top: 545px;
	left: 720px;
	width: 40px;
	height: 43px;
}

#staff {
	top: 285px;
	left: 505px;
	width: 50px;
	height: 70px;
}

#poster {
	top: 225px;
	left: 690px;
	width: 85px;
	height: 140px;
}

#victim {
	top: 505px;
	left: 610px;
	width: 45px;
	height: 40px;
}

@media (max-width: 1025px) {

.crime-scene {
	width: 800px;
}

.crime-scene_img {
	max-width: 800px;
}

.reveal {
	width: 50%;
}

#testosterone {
	top: 432px;
	left: 215px;
	width: 28px;
	height: 28px;
}

#wig {
	top: 250px;
	left: 573px;
	width: 52px;
	height: 90px;
}

#phone {
	top: 435px;
	left: 348px;
	width: 60px;
	height: 45px;
}

#cable {
	top: 385px;
	left: 505px;
	width: 38px;
	height: 38px;
}

#staff {
	top: 203px;
	left: 360px;
	width: 36px;
	height: 50px;
}

#poster {
	top: 160px;
	left: 493px;
	width: 62px;
	height: 100px;
}

#victim {
	top: 365px;
	left: 430px;
	width: 40px;
	height: 32px;
}

}

@media (max-width: 790px) {

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.crime-scene {
	position: relative;
	width: 750px;
	margin: 0 auto;
}

.crime-scene_img {
	max-width: 750px;
	margin: 0 auto;
	padding: 20px 0;
}

.main {
	display: block;
}

.reveal {
	display: none;
}

.reveal_landscape {
	display: block;
}

.evidence_img_cell {
	width: 50%;
	padding: 10px 0;
}

.evidence_title {
	width: 50%;
  font-size: 170%;
	padding: 20px 15px 0 15px;
}

.evidence_close {
	width: 50%;
}

.evidence_background {
	width: 155px;
}

.evidence_description {
	width: 50%;
  font-size: 100%;
	padding: 10px 15px 15px 15px;
}

.close_button {
	top: 0px;
	right: 15px;
  font-size: 350%;
}

#testosterone {
	top: 425px;
	left: 203px;
	width: 25px;
	height: 25px;
}

#wig {
	top: 255px;
	left: 537px;
	width: 47px;
	height: 85px;
}

#phone {
	top: 428px;
	left: 328px;
	width: 53px;
	height: 42px;
}

#cable {
	top: 380px;
	left: 474px;
	width: 34px;
	height: 36px;
}

#staff {
	top: 212px;
	left: 340px;
	width: 32px;
	height: 45px;
}

#poster {
	top: 170px;
	left: 463px;
	width: 56px;
	height: 95px;
}

#victim {
	top: 362px;
	left: 403px;
	width: 38px;
	height: 28px;
}

}

@media (max-width: 640px) {

.crime-scene {
	width: 592px;
}

.crime-scene_img {
	max-width: 592px;
}

#testosterone {
	top: 336px;
	left: 158px;
	width: 25px;
	height: 25px;
}

#wig {
	top: 205px;
	left: 420px;
	width: 45px;
	height: 68px;
}

#phone {
	top: 340px;
	left: 258px;
	width: 46px;
	height: 38px;
}

#cable {
	top: 303px;
	left: 373px;
	width: 30px;
	height: 32px;
}

#staff {
	top: 170px;
	left: 265px;
	width: 30px;
	height: 38px;
}

#poster {
	top: 135px;
	left: 363px;
	width: 50px;
	height: 80px;
}

#victim {
	top: 285px;
	left: 317px;
	width: 33px;
	height: 28px;
}

}

@media (max-width: 500px) {

.crime-scene {
	position: absolute;
	width: 448px;
}

.crime-scene_img {
	max-width: 448px;
	margin: 0 auto;
	padding: 0;
}

.main {
	display: flex;
}

.reveal {
	display: block;
}

.reveal_landscape {
	display: none;
}

.evidence_img_cell {
	padding: 15px;
}

.evidence_img_medium {
	max-width: 70%;
	max-height: 40%;
}

.evidence_title {
	padding: 20px 15px 15px 15px;
}

.evidence_description {
	padding: 0 15px 10px 15px;
}

#testosterone {
	top: 238px;
	left: 118px;
	width: 23px;
	height: 23px;
}

#wig {
	top: 138px;
	left: 318px;
	width: 35px;
	height: 55px;
}

#phone {
	top: 240px;
	left: 193px;
	width: 38px;
	height: 33px;
}

#cable {
	top: 214px;
	left: 283px;
	width: 25px;
	height: 28px;
}

#staff {
	top: 112px;
	left: 199px;
	width: 26px;
	height: 32px;
}

#poster {
	top: 87px;
	left: 275px;
	width: 38px;
	height: 60px;
}

#victim {
	top: 200px;
	left: 237px;
	width: 30px;
	height: 25px;
}

}

@media (max-width: 400px) {

.crime-scene {
	width: 350px;
}

.crime-scene_img {
	max-width: 350px;
}

#testosterone {
	top: 186px;
	left: 90px;
	width: 20px;
	height: 20px;
}

#wig {
	top: 105px;
	left: 247px;
	width: 28px;
	height: 48px;
}

#phone {
	top: 187px;
	left: 149px;
	width: 32px;
	height: 28px;
}

#cable {
	top: 166px;
	left: 221px;
	width: 22px;
	height: 23px;
}

#staff {
	top: 86px;
	left: 154px;
	width: 22px;
	height: 28px;
}

#poster {
	top: 68px;
	left: 212px;
	width: 32px;
	height: 47px;
}

#victim {
	top: 152px;
	left: 184px;
	width: 25px;
	height: 22px;
}

}
